.card
  margin-bottom: 16px
  border: none
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)

.card-header
  color: white
  background-color: #616264
  border-color: #616264
  padding-left: 20px
  padding-right: 20px

.card-title
  display: inline-block
  font-size: 14px
  line-height: 23px
  margin-bottom: 0
  &:before
    content: ""
    display: inline-block
    margin-right: 8px
    vertical-align: baseline
    height: 12px
    width: 12px
    background-image: url(/assets/layout/panel-title.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: top


.noBackColor
  color: #000
  background-color: transparent
  border: none
  padding-top: 20px
  padding-bottom: 24px
  .card-title
    font-weight: bold
    padding-left: 19px
    &:before
      width: 0
      margin-right: 0
      background-image: none
.card-block
  padding 28px 40px 20px 40px

.paddingTop0
  padding-top 0
  padding 0 58px 20px 58px
